body{
    font-family: 'Courier New', Courier, monospace;
}
.headline{
    text-align: center;
    margin: auto;
    width: 600px;
    
}
#headline_img{
    width: 60px;
    height: 60px;
    margin: 10px;
}
.headline_div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.main_container{
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    width: 700px;
}
.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px;
    margin: auto;
    border-radius: 20px;
    height: 200px;
    width: 400px;
}
.shadow__btn{
    display: flex;
    justify-content: start;
    margin-top: 20px;
}
.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
.shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }

.input1{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}
.output_div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    height: 60px;
    width: 400px;
}
.output_div h3{
    color: rgb(0,140,255);
    font-weight: bolder;
}

  